@{
    ViewData["Title"] = "Utils Page";
}

<h1 class="header center orange-text">Resumen de Operaciones</h1>
<div class="row center">
    <h5 class="header col s12 light">Crear Archivo con Logs de las operaciones con las estructuras de datos</h5>

</div>
<div class="row center">
    <form action="@Url.Action("Descargar", "Utils")" method="post">
        <button class="btn-large waves-effect waves-light center" type="submit" name="action">
            <i class="material-icons center">get_app</i>
        </button>
    </form>
</div>
    



